{% load wagtailcore_tags wagtailuserbar%}
{% load wagtailembeds_tags %}

{% wagtailuserbar %}


<footer class="page-footer blue darken-4">



    <div class="container">
        <div class="row">

            <div class="col l8 s12">
                <h5 class="white-text">
                    <div class="copyright text-center text-muted" role="note">
                        {{ footer|richtext }}
                    </div>
                </h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet</p>
            </div>



            <div class="col l4 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <br><li><a class="white-text" href="/impressum">Impressum</a></li><br>

                    <li><a class="white-text" href="/agbs">AGBs</a></li><br>
                    <li><a class="white-text" href="/sitemap">Sitemap</a></li>
                </ul>
            </div>



        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text " href="http://qizl.es">qizl.es</a>
        </div>
    </div>

</footer>