{% load static wagtailuserbar %}
{% load basetags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% load menu_tags %}

    <nav class="white" role="navigation">
        <div class="nav-wrapper">

        <div class="row">
                <div class="col s12 m2">
                <a class="brand-logo left" href="/"><img class="navlogo" href="/"src="/images/IXokSw3cglo_q7YvEVzZ2amRiHQ=/4/height-100/"></a>

                </div>
        <div class="col s12 m10">







            {% comment %}
                <div class="navbar-fixed">
                </div>
            {% endcomment %}

            {% comment %}
            <a id="logo-container" href="#" class="brand-logo right">{{ navbar|richtext }}</a>
                {% for items in menu_items %}
                        {{ items }}
                        <p class="red-text"> hello </p>
                    {% endfor %}
                    <p class="red"> {{ current_level  }}  </p>
                    <p class="red"> hello </p></li>
            {% endcomment %}

            <ul id="nav-mobile" class="side-nav">
                {% main_menu %}
            </ul>


            {% comment %}
            <a href="#" data-activates="nav-mobile" class="button-collapse white"><i
                    class="material-icons blue-grey-text">menu</i></a>
            {% endcomment %}


            <ul class="center hide-on-med-and-down">

               {% main_menu %}
            </ul>


            <ul class="center hide-on-large-only">
                <ul class="center hide-on-small-and-down">
                </ul>
            </ul>


            <ul class="center hide-on-med-and-up">
                <a id="logo-container" class="brand-logo center blue-text text-darken-4">
                    <nobr><b>CEVEN</b><span class="weak">TRAVEL</span></nobr>
                </a>
            </ul>
        </div>




        </div>

    </nav>
{% getNavbar %}
