{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}


{% block body_class %} template-homepage {% endblock %}




{% block content %}






    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center orange-text">Willkommen</h1>
                <div class="row center">
                    <h5 class="header col s12 light ">bei <b>Ceven</b> Travel</h5>
                </div>

                <br><br>

            </div>
        </div>
        <div class="parallax">
            {% image page.backgroundimageone original %}
        </div>
    </div>




    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="card white z-depth-1">
                        <div class="icon-block">

                            <h2 class="center orange-text"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center">Lorem Ipsum</h5>

                            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
                                id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum
                                ac.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card white z-depth-5">
                        <div class="icon-block">
                            <h2 class="center deep-orange-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">Lorem Ipsum</h5>

                            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
                                id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum
                                ac.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card white z-depth-1">
                        <div class="icon-block">
                            <h2 class="center blue-grey-text"><i class="material-icons">settings</i></h2>
                            <h5 class="center">Lorem Ipsum</h5>

                            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
                                id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum
                                ac.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Lorem Ipsum</h5>
                </div>
            </div>
        </div>
        <div class="parallax">{% image page.backgroundimagetwo original %}</div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4 class="orange-text">About Us</h4>
                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                        scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna
                        fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra
                        ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam
                        eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi
                        massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non
                        tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae;</p>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Lorem Ipsum</h5>
                </div>
            </div>
        </div>
        <div class="parallax">{% image page.backgroundimagethree original %}</div>
    </div>



    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4 class="orange-text">Contact Us</h4>
                    <p class="left-align light"> {{ page.text }} </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}







