/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#header-container{
  height: 90vh;
}

#header-banner{
  min-height: 90vh;
}

#header-text{
  margin-top: 100px;
}



  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



#sidenavcontainer.pin-top {
  margin-top: 80px;

}

#sidenavcontainer.pin-bottom {
  margin-top: 25px;
  margin-bottom: 0px;

}

#sidenavcontainer.pinned {
  position: sticky;
  margin-top: 10px;
  width: 15.5%;

}


#columniwannapush2 .pin-top {
  position: sticky;
}
#columniwannapush3 {
  position: sticky;
  position: -webkit-sticky;

  top : 0;
  z-index: 999;
}

#columniwannapush5 {
  position: sticky;
  position: -webkit-sticky;
  top : 0;
  z-index: 999;
}

#columniwannapush4 {
  position: fixed;
  top : 300px;
}




#stickyheader {
  position: sticky;
}

#sidemenu
{
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 300px;
}